<div class="container mt-5">
    <div class="row d-flex justify-content-center">

        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="form-group">
                            <input type="text"
                                name="name"
                                placeholder="Nome"
                                formControlName="name"
                                maxlength="70"
                                class="form-control" 
                                required
                            />

                            <small *ngIf="form.controls.name.invalid && !form.controls.name.pristine" class="text-danger">
                                Este campo requer um mínimo de 3 caracteres. <br />
                            </small>
                        </div>

                        <div class="form-group">
                            <button (click)="addPerson()" [disabled]="form.invalid" class="btn btn-primary form-control">
                                <i class="far fa-save"></i> Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-white d-flex justify-content-between align-items-center">
                    <h5 class="font-weight-bold">Pessoas cadastradas</h5>
                    <span class="font-weight-bold">Total: {{ people.length }}</span>
                </div>

                <div *ngIf="people.length === 0" class="text-center my-2">
                    <small>Nenhum registro encontrado!</small>
                </div>

                <ul *ngFor="let person of people" class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ person.name }}
                        <span (click)="removePerson(person)" title="Excluir">
                            <i class="far fa-trash-alt text-danger" style="cursor: pointer;"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
