/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  /* background: #948E99;
  background: -webkit-linear-gradient(to right, #2E1437, #948E99);
  background: linear-gradient(to right, #2E1437, #948E99); */

}

button:disabled {
  cursor: not-allowed;
}
